{% extends "base.html" %}

{% block content %}
<h2>{{ user.name }}'s Movies</h2>

<ul class="movie-list">
    {% for movie in movies %}
        <li class="movie-item">
            {% if movie.poster_url %}
            <div class="movie-info">
                <img src="{{ movie.poster_url }}" alt="Poster" style="height: 500px">
            {% endif %}
                <div class="info">
                    <strong style="font-size: 30px;">{{ movie.title }}</strong>
                    <span>({{ movie.release_year }})</span><br>
                    <span>Genre: {{ movie.genre }}</span><br>
                    <span>Director: {{ movie.director }}</span><br>
                    <span>Rating: {{ movie.rating }}</span><br>
                    <span>Plot: {{ movie.plot }}</span>
                </div>
                <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="POST" style="display:inline">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
<h3>Add a New Movie</h3>
<form method="POST">
    <input name="title" placeholder="Title" required>
    <button type="submit">Add Movie</button>
</form>
{% endblock %}